.Cyrcle{
	/*background: #0000ff;*/
	width: 80px;
	height: 80px;
	position: absolute; /* позиционирование */
    bottom: 10px; /* Положение от нижнего края */
    left: 220px; /* Положение от левого края */
    border-radius: 40px;
}
.Cyrcle-title{
	margin-top: 0px;
	color: white;
	text-align: center; 
	font-size: 40px; /* размер шрифта */
	font-family: "Monotype Corsiva" Cursive;

}
.Cyrcle-mera{
	position: absolute;
    bottom: 10px; /* Положение от нижнего края */
    left: 0px; /* Положение от левого края */	
	width: 80px;
	height: 40px;
	color: white;
	text-align: center; 
	font-size: 40px; /* размер шрифта */
	font-family: "Monotype Corsiva" Cursive;

}