.Packet{
	position: relative;
	background: url(./kat3.png) repeat center;
	width: 311px;
	height: 470px;
	margin: 30px;
	text-align: left;
}
.Packet-data{
	position: relative; /* позиционирование */
    bottom: -80px; /* Положение от нижнего края */
    left: 49px; /* Положение от левого края */
    line-height: 6px; /* пробел между строчками*/
    
}
.Packet-dataInsert{
	height: 0px;
}
.Packet-dataWeight{
	width: 150px;
	height: auto;
	word-wrap: break-word;
	line-height: 8px; /* пробел меж*/
}